<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Loan App</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap-4/css/bootstrap.min.css" />
</head>

<body>
	<%- include ("./partials/navbar.ejs") %>
		<main class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-2"></div>
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
					<h4 class="text-center my-3">My Loans</h4>
					
					<div class="text-center mb-3" id="feedback"></div>
					
					<table class="table table-striped table-bordered table-responsive-md">
						<thead>
							<tr>
								<th>SN</th>
								<th>Amount Requested</th>
								<th>Status</th>
								<th>Payment Status</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							<% if(data.length> 0) { %>
							<% data.map((item, index)=> { %>
								<tr>
									<td>
										<%= index+1 %>
									</td>
									<td>&#8358;<%= item.amount_requested.toLocaleString() %>
									</td>
									<td>
										<% if (item.loan_status==="pending" ) { %>
											<span class="badge badge-warning">Pending</span>
										<% } else if (item.loan_status==="accepted" ) { %>
											<span class="badge badge-primary">Accepted</span>
										<% } else if (item.loan_status==="reviewing" ) { %>
											<span class="badge badge-secondary">Reviewing</span>
										<% } else if (item.loan_status==="rejected" ) { %>
											<span class="badge badge-danger">Rejected</span>
										<% } else if (item.loan_status==="disbursed" ) { %>
											<span class="badge badge-success">Disbursed</span>
										<% } %>
									</td>
									<td>
										<% if (item.isRepaid===false ) { %>
											<span class="text-danger">Not Paid</span>
										<% } else if (item.isRepaid===true ) { %>
											<span class="text-success">Paid</span>
										<% } else { %>
											<span>None</span>
										<% } %>
									</td>
									<td>
										<!-- <form method="POST" action="/admin/loan/update/<%=item.id%>"> -->
										<% if (item.isRepaid===false && item.loan_status === "disbursed" ) { %>
										<button type="button" class="btn btn-primary btn-sm" onclick="payWithPaystack('<%= item.id %>', '<%= item.email %>', '<%= item.amount_requested %>')">
											Repay with paystack
										</button>
										
										<% } %>
										<!-- </form> -->
									</td>
								</tr>
							<% }) %>
							<% } else { %>
								<tr>
									<td colspan="6" class="text-center">You have no Loans yet</td>
								</tr>
							<% } %>
						</tbody>
					</table>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-2"></div>
			</div>

		</main>

		<script type="text/javascript" src="/bootstrap-4/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="/bootstrap-4/js/popper.js"></script>
		<script type="text/javascript" src="/bootstrap-4/js/bootstrap.js"></script>
		<script src="https://js.paystack.co/v1/inline.js"></script>
		<script type="text/javascript">
			function payWithPaystack(id, email, amount) {
				let public_key = 'pk_test_adad5f3b58dd7cb203ade1171c55d5a33c8012cc';
				var handler = PaystackPop.setup({
					key: public_key,
					email: email,
					amount: amount * 100,
					currency: "NGN",
					callback: function (response) {
						// alert('success. transaction ref is ' + response.reference);
						repayLoan(id, email, amount, response);
					},
					onClose: function () {
						alert('window closed');
					}
				});
				handler.openIframe();
			}
			function repayLoan(id, email, amount, response) {
				$.ajax({
					url: `http://localhost:9000/user/repay/${id}`,
					method: "PUT",
					data: JSON.stringify({email: email, amount: amount, response: response}),
					contentType: 'application/json',
					success: function(res) {
						console.log(res)
						if(res.error){
							document.getElementById("feedback").innerHTML = `<span class="alert alert-danger">${res.message}</span>`;
							return;
						} else {
							document.getElementById("feedback").innerHTML = `<span class="alert alert-success">${res.message}</span>`
							return;
						}
						window.location.reload(true);
					},
					error: function (req, msg, err) {
						console.log(req, msg, err)
					}
				});
			}
		</script>
</body>

</html>